<div class="jumbotron text-center">
    <h1>Top Commented Words</h1>
</div>

<div class="row">
    <div class="col-xs-4">
        <a href="/messages" class="btn btn-lg btn-warning">All Messages</a>
    </div>
</div>
<br />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Word</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (var word of words) { %>
            <tr>
                <td><%= word._id.word %></td>
                <td><%= word.value %></td>
                <td>
                    <a href="/messages/<%= word._id.messageId %>" class="btn btn-sm btn-info">View</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
